@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

:root {
  --mainColor: #AA37D3;
  /* --mainColor: #f2ff00; */
  --text: #fff;
  --mainBackColor: linear-gradient(99deg, rgba(100, 2, 152, 0.40) 0%, rgba(128, 55, 167, 0.02) 94.70%, rgba(129, 55, 168, 0.00) 100%), #000;
  --mainBackLightColor: linear-gradient(32deg, rgba(255, 255, 255, 0.40) 0%, rgba(128, 55, 167, 0.02) 94.70%, rgba(129, 55, 168, 0.00) 100%), #BA99FF;

}

body {
  background: var(--mainBackColor);
  color: var(--text);
  font-family: 'Work Sans', sans-serif;
}

.mHead {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
  border: 2px solid transparent;
}

.mHead:hover {
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--mainColor),
    inset 0 0 2rem var(--mainColor),
    0 0 4rem var(--mainColor),
    inset 0 0 4rem var(--mainColor);
}

.gang {
  text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--mainColor),
    0 0 4rem var(--mainColor),
    0 0 6rem var(--mainColor),
    0 0 8rem var(--mainColor),
    0 0 10rem var(--mainColor);
}

.cases {
  height: 300px;
  padding: 0px !important;
}

.caseImg {
  /* background-image: url(../img/BotWithWorks.png); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
}

.text {
  color: var(--text);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

.cases:hover {
  .caseImg {
    filter: blur(1px);
  }

  .text {
    display: none;
  }
}


@media (max-width: 768px) {
  .mHead {
    margin-top: 10px;
    display: block;
    text-align: left !important;
    margin-left: 0px;
  }
}

.headerH {
  padding-top: 20px;
  padding-bottom: 20px;
}

.services {
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.services:hover {
  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--mainColor),
    inset 0 0 2rem var(--mainColor),
    0 0 4rem var(--mainColor),
    inset 0 0 4rem var(--mainColor);
}

.neonWrapper {
  font-family: 'Exo 2', sans-serif;
  margin-top: 40px;
  background: #000;
  max-width: 530px;
  text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--mainColor),
    0 0 4rem var(--mainColor),
    0 0 6rem var(--mainColor),
    0 0 8rem var(--mainColor),
    0 0 10rem var(--mainColor);

  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--mainColor),
    inset 0 0 2rem var(--mainColor),
    0 0 4rem var(--mainColor),
    inset 0 0 4rem var(--mainColor);
}

.mNeon {
  font-style: italic;
  font-size: 50px;
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  /* animation: flicker 10s infinite alternate; */
}

@media (max-width: 768px) {
  .mNeon {
    font-size: 25px;
    text-align: center !important;
  }

  .myCube {
    display: none;
  }

  .toCenter {
    text-align: center !important;
  }

  .myInput {
    width: 100% !important;
  }

  .myInputB {
    width: 100% !important;
  }
}

.mNeon::-moz-selection {
  background-color: var(--mainColor);
  color: var(--mainColor);
}

.mNeon::selection {
  background-color: var(--mainColor);
  color: var(--mainColor);
}

.mNeon:focus {
  outline: none;
}

#pixie {
  position: fixed;
  background-color: #000;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#040429', endColorstr='#257EB7', GradientType=0);
  /* IE6-9 */
  background: var(--mainBackColor);
  /* IE10+ */
  background: var(--mainBackColor);
  /* Chrome, Safari 4+ */
  background: -webkit-linear-gradient(center top, #040429, #257EB7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background: -moz-linear-gradient(center top, #040429, #257EB7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  /* Firefox 3.6-15 */
  background: -o-linear-gradient(center top, #040429, #257EB7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  /* Opera 11.10-12.00 */
  background: linear-gradient(center top, #040429, #257EB7) repeat scroll 0 0 rgba(0, 0, 0, 0);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  -webkit-transition:
    background-color 2s;
  transition:
    background-color 2s;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.checkbox-round:checked {
  border: 5px solid #2f103b;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;

  height: 5px;
  border-radius: 5px;
  background: #AA37D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #AA37D3;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #AA37D3;
  cursor: pointer;
}

.slidecontainer input {
  background-color: #fff;
  width: 100%;
}

.myInput {
  margin-top: 10px;
  width: 80%;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  color: #fff;
}

.myInputB {
  margin-top: 10px;
  width: 80%;
  height: 40px;
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  color: #fff;
}